{% extends 'base.html.twig' %}

{% block title %}Question du {{ date }}{% endblock %}

{% block body %}
    {% if today_question %}
        <h1>Voici la question du jour !</h1>

        <h2>{{ question.content }}</h2>

        {% if already_answered %}
            <p>Vous avez déjà répondu à cette question !</p>
        {% else %}
            {{ form_start(form) }}
                {{ form_row(form.content, { label: 'Votre réponse' }) }}
                <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(form) }}
        {% endif %}
    {% else %}
        <h1>Voici la question du {{ date }} et vos réponses</h1>

        <h2>{{ question.content }}</h2>
    {% endif %}

    {% for answer in question.answers %}
        <div class="d-flex justify-content-between align-items-center">
            <p>{{ answer.content }}</p>
            <p>{{ answer.year }}</p>
        </div>
    {% endfor %}
{% endblock %}
